@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0px;;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url(https://st2.depositphotos.com/3591429/10464/i/950/depositphotos_104648666-stock-photo-group-of-people-brainstorming-on.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}   
.blur{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: -1;
}

.divList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divList div{
    min-width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 7%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 1s ease;
}
.divList div:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
}
.divList div li{
    color: crimson;
    font-size: 18px;
    font-weight: 700;
}
.divList div img{
    padding: 10px;
}
.divList div p{
    font-size: 18px;
    font-weight: 600;
    color: crimson;
}
.pgInfrequist{
    display: none;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn1{
    width: 30%;
    padding: 5px;
    color: crimson;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: all 1s ease;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.btn2{
    width: 30%;
    padding: 5px;
    color: crimson;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: all 1s ease;
    display: none;
}
.btn2:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.page{
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: crimson;
    font-weight: 900;
}
.choose{
    height: 100vh;
    
}
.choose h2{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-size: 52px;
}
.choosebtn{
    display: flex;
    justify-content: space-around;
}
.choosebtn button{
    background-color: rgba(220, 20, 60, 0.6);
    width: 200px;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.choosebtn button:hover{
    color: crimson;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 20px 2px black;
}
.backmetods{
    font-size: 16px;
    font-weight: 800;
    margin-left: 2%;
    border-style: none;
    color: crimson;
    width: 15%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.5s ease;
}
.backmetods:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.errors{
    height: 100vh;
    color: crimson;
    font-size: 42px;
    font-weight: 900;
    display: none;
}
.errors p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    height: 60vh;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 900;
    align-items: center;
    color: white;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.7);
}
.pages{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
}
.pages button{
    margin: 12px;
    padding: 5px;
    font-size: 16px;
    font-weight: 900;
    color: crimson;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
}
.pages button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.backmetods2{
    width: 15%;
}
.pagesN{
    display: flex;
    color: white;
    width: 15%;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}
.pagesN span{
    color: crimson;
}